@import "./abstracts/variables_color";
@import "./abstracts/variables";
@import "./abstracts/mixin_common";

@import "./base/reset";
@import "./base/preset";

@import "./pages/order_page";

@import "./components/header";
@import "./components/menu_item";

@import "./components/menu/popup";
@import "./components/menu/order_info";
@import "./components/menu/order_recent";
@import "./components/menu/menu__category";
@import "./components/menu/menu_list";
@import "./components/menu/order_box";
@import "./components/menu/go_top";

@import "./components/detail/menu__detail";
@import "./components/detail/menu__review";
@import "./components/detail/option__popup";
