.menu__list {
  padding: 28px $m-padding 10px;
  background-color: #fff;
  &:not(.new):not(.popular) {
    margin-top: 10px;
  }

  &.new {
    border-bottom: 1px solid $booking-color-border144;
  }

  &.is-closed {
    padding: 24px $m-padding;

    .ico-arrow {
      transform: rotate(180deg);
    }

    .menu__list-items {
      display: none;
    }
    & + .is-closed {
      margin-top: 0;
      border-top: 1px solid $booking-color-border144;
    }
  }
  .menu__list-category {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu__list-title {
    display: flex;
    align-items: center;
    .period {
      font-size: 14px;
      letter-spacing: -0.3px;
      color: $booking-color-text4;

      &::before {
        content: "";
        display: inline-block;
        margin: 0 10px;
        background-color: #ededed;
        width: 4px;
        height: 4px;
        border-radius: 100%;
        vertical-align: middle;
      }
    }
  }

  .title {
    font-size: 19px;
    font-weight: 700;
    color: $booking-color-text100;
    letter-spacing: -0.3px;
  }
}
