body {
  min-width: 320px;
  line-height: normal;
  font-size: 14px;
  color: #000;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
textarea,
select,
table,
button,
code {
  font-family: -apple-system, BlinkMacSystemFont, helvetica, Apple SD Gothic Neo, sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden,
[hidden] {
  display: none !important;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

input,
textarea {
  font-size: inherit;
  border: 0;
}
input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #444;
  opacity: 1;
}
input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.screen-out {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  text-indent: -9999px;
}

.scroll-x {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scroll-x::-webkit-scrollbar {
  display: none;
}

.container {
  padding-top: 94px;
  padding-bottom: 70px;
  background-color: #f4f7f9;
}

.common-inner {
  margin: 0 auto;
  max-width: 720px;
}

.badge-popular {
  display: inline-block;
  padding: 0 5px;
  border-radius: 10px;
  font-size: 11px;
  line-height: 16px;
  font-weight: 700;
  background-color: #ff61a7;
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #03c75a;
  color: #fff;
  z-index: 9999;
}
.header .header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}
.header .header__top .header__title {
  font-size: 24px;
  flex: 1;
}
.header .header__top .header__orderList {
  font-size: 15px;
  font-weight: 700;
  padding-right: 16px;
}
.header .header__nav {
  height: 46px;
  background-color: #03b753;
}
.header .header__nav .header__nav-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 8px;
}
.header .header__nav .header__nav-list .header__nav-item {
  flex: 1;
  text-align: center;
  opacity: 0.7;
  padding: 0 12px;
}
.header .header__nav .header__nav-list .header__nav-item.is-active {
  font-weight: 700;
  opacity: 1;
}
.header .header__nav .header__nav-list .header__nav-item.is-active .txt::after {
  display: block;
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: #fff;
}
.header .header__nav .header__nav-list .header__nav-item .txt {
  padding: 0 4px;
  position: relative;
  display: inline-block;
  line-height: 46px;
}
.header .header__nav .header__nav-list .header__nav-item .txt::after {
  display: none;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.menu__list-item {
  display: flex;
  align-items: center;
  padding: 18px;
  margin: 0 -16px;
}
.menu__list-item:not(:last-child) {
  border-bottom: 1px solid #f2f2f2;
}
.menu__list-item .menu__detail {
  display: flex;
  align-items: center;
  flex: 1;
}
.menu__list-item .menu__detail .menu__detail-img {
  position: relative;
  flex-shrink: 0;
  margin-right: 12px;
  border-radius: 5px;
  overflow: hidden;
}
.menu__list-item .menu__detail .menu__detail-img:not(.no-img)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.06);
}
.menu__list-item .menu__detail .menu__detail-img .menu__img {
  display: block;
}
.menu__list-item .menu__desc {
  margin-top: 4px;
  letter-spacing: -0.4px;
  color: #8f8f8f;
  font-size: 14px;
  line-height: 19px;
  max-height: 38px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; /* autoprefixer : off */
}
.menu__list-item .menu__price {
  margin-top: 4px;
  line-height: 1.4;
  font-style: 15px;
  font-weight: 700;
  color: #ff3d3b;
}
.menu__list-item .btn-cart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}
.menu__list-item .btn-cart .ico-cart {
  width: 20px;
  height: 20px;
}
.menu__list-item .btn-cart .num {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 18px;
  line-height: 18px;
  border-radius: 50%;
  background-color: #ff3d3b;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}
.menu__list-item .btn-cart.disabled {
  font-size: 12px;
  border: 0;
  background-color: #eee;
  color: #777;
  cursor: not-allowed;
  pointer-events: none;
}

.menu__name-group {
  display: flex;
  align-items: center;
}
.menu__name-group .menu__name {
  font-size: 17px;
  line-height: 22px;
  font-weight: 700;
  color: #333;
}
.menu__name-group .ico-new {
  margin-left: 4px;
}
.menu__name-group .badge-popular {
  margin-left: 6px;
}

.menu__info-group {
  display: flex;
  flex-shrink: 0;
  margin-top: 4px;
  font-size: 14px;
}
.menu__info-group .menu-grade {
  flex-shrink: 0;
  font-weight: 700;
  color: #333;
}
.menu__info-group .menu-grade .ico-star {
  margin-right: 2px;
}
.menu__info-group .menu-grade + .menu-number-of-order::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  margin: 0 8px;
  background-color: #ededed;
  transform: translateY(1px);
}
.menu__info-group .menu-number-of-order {
  flex-shrink: 0;
  color: #8f8f8f;
}
.menu__info-group .menu-number-of-order em {
  margin-left: 4px;
  font-style: normal;
  font-weight: 700;
  color: #333;
}

.popup__dimmed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.popup__content {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 32px 0 40px;
  background: #fff;
  border-radius: 16px 16px 0 0;
  z-index: 10000;
}
.popup__content .popup__title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.popup__content .popup__list {
  text-align: center;
  margin-top: 32px;
  display: flex;
}
.popup__content .popup__list .popup__item {
  flex: 1;
}
.popup__content .popup__list .popup__item + .popup__item {
  border-left: 1px solid #e3e6e8;
}
.popup__content .popup__list .popup__item-icon {
  width: 80px;
  height: auto;
  fill: #03c75a;
}
.popup__content .popup__list .popup__item-desc {
  margin-top: 8px;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 600;
  color: #000;
}
.popup__content .popup__list .popup__btn {
  display: inline-block;
  margin-top: 10px;
  padding: 6px 18px;
  font-weight: 700;
  background-color: #424242;
  color: #fff;
  border-radius: 28px;
}

.order__info {
  padding: 10px 16px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  background-color: #e7f7ff;
}
.order__info .order__title {
  line-height: 39px;
}
.order__info .title {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.3px;
  color: #333;
}
.order__info .title .ico_n_logo {
  margin-right: 6px;
  width: 24px;
  height: 24px;
}
.order__info .order__tablist {
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.order__info .order__tablist .order__tab-switch {
  flex: 1;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.06);
  line-height: 40px;
  font-size: 14px;
  font-weight: 700;
  color: #666;
  letter-spacing: -0.3px;
}
.order__info .order__tablist .order__tab-switch.is-active {
  background-color: #fff;
  flex-grow: 1.2;
  border: 1px solid #333;
  font-size: 15px;
  color: #333;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
  position: relative;
}
.order__info .order__tablist .order__tab-switch.is-active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border: 1px solid #333;
  border-width: 0 1px 1px 0;
  transform: translate(-50%) rotate(45deg);
}
.order__info .order__tablist .order__tab-switch.is-active .ico-check {
  display: inline-block;
  opacity: 1;
}
.order__info .ico-check {
  vertical-align: middle;
  display: none;
  opacity: 0;
}
.order__info .order__notice {
  display: flex;
  align-items: center;
  margin-top: 16px;
  padding: 12px 16px;
  background-color: #fff;
  font-size: 14px;
  border-radius: 2px;
  color: #333;
  letter-spacing: -0.3px;
}
.order__info .order__notice.alert {
  color: #ff3d3b;
  font-weight: 700;
}
.order__info .order__notice.alert .ico-clock {
  margin-right: 6px;
}

.order__recent {
  display: flex;
  margin-top: 16px;
  padding: 18px 0;
  border-radius: 2px;
  background-color: #fff;
}
.order__recent .order__recent-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-right: 1px solid #f2f2f2;
  line-height: 1.42;
  font-size: 12px;
  font-weight: 700;
  color: #333;
}
.order__recent .order__recent-title .ico-clock {
  margin-bottom: 4px;
  width: 14px;
}
.order__recent .order__recent-menu .recent-menu-list {
  display: flex;
}
.order__recent .order__recent-menu .recent-menu-list .recent-menu-item {
  box-sizing: content-box;
  padding-left: 16px;
  width: 80px;
  text-align: center;
}
.order__recent .order__recent-menu .recent-menu-list .recent-menu-item.is-ordered {
  padding-right: 16px;
  border-right: 1px solid #9fa4aa;
}
.order__recent .order__recent-menu .recent-menu-list .recent-menu-item:last-child {
  padding-right: 16px;
}
.order__recent .order__recent-menu .recent-menu-list .recent-menu-item .recent-menu-img {
  position: relative;
  width: 80px;
  border: 1px solid #f9f9f9;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.01);
}
.order__recent .order__recent-menu .recent-menu-list .recent-menu-item .recent-menu-img .badge-popular {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 5px;
  border-radius: 10px;
  line-height: 16px;
  font-size: 11px;
  font-weight: 700;
  background-color: #ff61a7;
  color: #fff;
}
.order__recent .order__recent-menu .recent-menu-list .recent-menu-item .recent-menu-img .menu-img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.order__recent .order__recent-menu .recent-menu-list .recent-menu-item .recent-menu-img .badge-cart {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 99;
  padding: 6px;
  border: 1px solid #e5e5e5;
  border-radius: 100%;
  background-color: #fff;
  display: flex;
}
.order__recent .order__recent-menu .recent-menu-list .recent-menu-item .recent-menu-img .badge-cart .ico-cart {
  width: 16px;
  height: 16px;
}
.order__recent .order__recent-menu .recent-menu-list .recent-menu-item .menu-name {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.order__recent .order__recent-menu .recent-menu-list .recent-menu-item .menu-price {
  font-size: 13px;
  font-weight: 700;
  color: #ff3d3b;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menu__category {
  position: sticky;
  top: 94px;
  margin-top: 10px;
  background-color: #fff;
  z-index: 5000;
}
.menu__category .common-inner {
  border-bottom: 1px solid #f2f2f2;
}
.menu__category .common-inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  background: linear-gradient(to right, #fff 35%, rgba(255, 255, 255, 0));
}
.menu__category .common-inner::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  background: linear-gradient(to left, #fff 35%, rgba(255, 255, 255, 0));
}
.menu__category .common-inner .menu__category-list {
  display: flex;
  align-items: center;
  height: 54px;
  position: relative;
}
.menu__category .common-inner .menu__category-item:first-child {
  padding-left: 16px;
}
.menu__category .common-inner .menu__category-item:last-child {
  padding-right: 16px;
}
.menu__category .common-inner .menu__category-item .menu__category-tab {
  display: flex;
  align-items: center;
  padding: 0 12px;
  font-size: 16px;
  height: 30px;
  border-radius: 15px;
  color: #333;
}
.menu__category .common-inner .menu__category-item .menu__category-tab.is-active {
  background-color: #424242;
  font-style: 700px;
  color: #fff;
}

.menu__list {
  padding: 28px 16px 10px;
  background-color: #fff;
}
.menu__list:not(.new):not(.popular) {
  margin-top: 10px;
}
.menu__list.new {
  border-bottom: 1px solid #f2f2f2;
}
.menu__list.is-closed {
  padding: 24px 16px;
}
.menu__list.is-closed .ico-arrow {
  transform: rotate(180deg);
}
.menu__list.is-closed .menu__list-items {
  display: none;
}
.menu__list.is-closed + .is-closed {
  margin-top: 0;
  border-top: 1px solid #f2f2f2;
}
.menu__list .menu__list-category {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__list .menu__list-title {
  display: flex;
  align-items: center;
}
.menu__list .menu__list-title .period {
  font-size: 14px;
  letter-spacing: -0.3px;
  color: #666;
}
.menu__list .menu__list-title .period::before {
  content: "";
  display: inline-block;
  margin: 0 10px;
  background-color: #ededed;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  vertical-align: middle;
}
.menu__list .title {
  font-size: 19px;
  font-weight: 700;
  color: #333;
  letter-spacing: -0.3px;
}

.order__box {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #e8e8e8;
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.03);
  background-color: #fff;
  z-index: 9100;
  height: 70px;
}
.order__box .common-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
}
.order__box .menu-name {
  font-size: 15px;
  color: #b8b8b8;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.order__box .menu-price {
  font-size: 18px;
  font-weight: 700;
  color: #ff3d3b;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.order__box .btn-order {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 128px;
  height: 46px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #01d760, #0ad18e);
  font-weight: 700;
  letter-spacing: -0.3px;
  color: #fff;
}
.order__box .btn-order .icon {
  position: relative;
  margin-left: 6px;
}
.order__box .btn-order .icon .ico-cart {
  width: 20px;
  height: 20px;
}
.order__box .btn-order .num {
  position: absolute;
  top: -5px;
  right: -4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ff3d3b;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.go__top {
  padding: 16px 0 32px;
  background-color: #fff;
  text-align: center;
}
.go__top .link {
  display: inline-block;
  padding: 8px 20px;
  border-radius: 20px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  font-style: 14px;
  font-weight: 700;
  color: #666;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.04);
  text-transform: uppercase;
}
.go__top .ico-up {
  position: relative;
  display: inline-block;
  margin-left: 4px;
  width: 10px;
  height: 10px;
}
.go__top .ico-up::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 50%;
  width: 5px;
  height: 5px;
  border-top: 2px solid #666;
  border-left: 2px solid #666;
  transform: translate(-50%, -50%) rotate(45deg);
}
.go__top .ico-up::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 50%;
  width: 2px;
  height: 9px;
  background-color: #666;
  transform: translateX(-50%);
}