body {
  min-width: 320px;
  line-height: normal;
  font-size: 14px;
  color: #000;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
textarea,
select,
table,
button,
code {
  font-family: -apple-system, BlinkMacSystemFont, helvetica, Apple SD Gothic Neo, sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden,
[hidden] {
  display: none !important;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

input,
textarea {
  font-size: inherit;
  border: 0;
}
input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #c9c9c9;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #444;
  opacity: 1;
}
input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.screen-out {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  text-indent: -9999px;
}

.scroll-x {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scroll-x::-webkit-scrollbar {
  display: none;
}

body.scroll-off {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}

.fw700 {
  font-weight: 700;
}

.color-point {
  color: #ff3d3b;
}

.container {
  background-color: #f4f7f9;
  min-height: 100vh;
}
.container:not(.order) {
  padding-top: 94px;
  padding-bottom: 70px;
}

.common-inner {
  margin: 0 auto;
  max-width: 720px;
}

.badge-popular {
  display: inline-block;
  padding: 0 5px;
  border-radius: 10px;
  font-size: 11px;
  line-height: 16px;
  font-weight: 700;
  background-color: #ff61a7;
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #03c75a;
  color: #fff;
  z-index: 5000;
}
.header .header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}
.header .header__top .header__title {
  font-size: 24px;
  flex: 1;
}
.header .header__top .header__orderList {
  font-size: 15px;
  font-weight: 700;
  padding-right: 16px;
}
.header .header__nav {
  height: 46px;
  background-color: #03b753;
}
.header .header__nav .header__nav-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 8px;
}
.header .header__nav .header__nav-list .header__nav-item {
  flex: 1;
  text-align: center;
  opacity: 0.7;
  padding: 0 12px;
}
.header .header__nav .header__nav-list .header__nav-item.is-active {
  font-weight: 700;
  opacity: 1;
}
.header .header__nav .header__nav-list .header__nav-item.is-active .txt::after {
  display: block;
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: #fff;
}
.header .header__nav .header__nav-list .header__nav-item .txt {
  padding: 0 4px;
  position: relative;
  display: inline-block;
  line-height: 46px;
}
.header .header__nav .header__nav-list .header__nav-item .txt::after {
  display: none;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.menu__list-item {
  display: flex;
  align-items: center;
  padding: 18px;
  margin: 0 -16px;
}
.menu__list-item:not(:last-child) {
  border-bottom: 1px solid #f2f2f2;
}
.menu__list-item .menu__detail {
  display: flex;
  align-items: center;
  flex: 1;
}
.menu__list-item .menu__img {
  display: block;
}

.menu__detail-img {
  position: relative;
  flex-shrink: 0;
  margin-right: 12px;
  border-radius: 5px;
  overflow: hidden;
}
.menu__detail-img:not(.no-img)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.06);
}
.menu__detail-img .menu__desc {
  margin-top: 4px;
  letter-spacing: -0.4px;
  color: #8f8f8f;
  font-size: 14px;
  line-height: 19px;
  max-height: 38px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; /* autoprefixer : off */
}
.menu__detail-img .menu__price {
  margin-top: 4px;
  line-height: 1.4;
  font-style: 15px;
  font-weight: 700;
  color: #ff3d3b;
}
.menu__detail-img .btn-cart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}
.menu__detail-img .btn-cart .ico-cart {
  width: 20px;
  height: 20px;
}
.menu__detail-img .btn-cart .num {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 18px;
  line-height: 18px;
  border-radius: 50%;
  background-color: #ff3d3b;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}
.menu__detail-img .btn-cart.disabled {
  font-size: 12px;
  border: 0;
  background-color: #eee;
  color: #777;
  cursor: not-allowed;
  pointer-events: none;
}

.menu__name-group {
  display: flex;
  align-items: center;
}
.menu__name-group .menu__name {
  font-size: 17px;
  line-height: 22px;
  font-weight: 700;
  color: #333;
}
.menu__name-group .ico-new {
  margin-left: 4px;
}
.menu__name-group .badge-popular {
  margin-left: 6px;
}

.menu__info-group {
  display: flex;
  flex-shrink: 0;
  margin-top: 4px;
  font-size: 14px;
}
.menu__info-group .menu__grade {
  flex-shrink: 0;
  font-weight: 700;
  color: #333;
}
.menu__info-group .menu__grade .ico-star {
  margin-right: 2px;
}
.menu__info-group .menu__grade + .menu-number-of-order::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  margin: 0 8px;
  background-color: #ededed;
  transform: translateY(1px);
}
.menu__info-group .menu-number-of-order {
  flex-shrink: 0;
  color: #8f8f8f;
}
.menu__info-group .menu-number-of-order em {
  margin-left: 4px;
  font-style: normal;
  font-weight: 700;
  color: #333;
}

.go__top {
  padding: 16px 0 32px;
  background-color: #fff;
  text-align: center;
}
.go__top .link {
  display: inline-block;
  padding: 8px 20px;
  border-radius: 20px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  font-style: 14px;
  font-weight: 700;
  color: #666;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.04);
  text-transform: uppercase;
}
.go__top .ico-up {
  position: relative;
  display: inline-block;
  margin-left: 4px;
  width: 10px;
  height: 10px;
}
.go__top .ico-up::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 50%;
  width: 5px;
  height: 5px;
  border-top: 2px solid #666;
  border-left: 2px solid #666;
  transform: translate(-50%, -50%) rotate(45deg);
}
.go__top .ico-up::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 50%;
  width: 2px;
  height: 9px;
  background-color: #666;
  transform: translateX(-50%);
}

.amount__select {
  display: flex;
  align-items: center;
  height: 35px;
}
.amount__select .btn-minus,
.amount__select .btn-plus {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: 1px solid #e3e3e3;
  background-color: #f8fafb;
  color: #333;
}
.amount__select .btn-minus::before,
.amount__select .btn-plus::before {
  content: "";
  display: block;
  width: 13px;
  height: 1px;
  background-color: currentColor;
}
.amount__select .btn-minus:disabled, .amount__select .btn-minus.disabled,
.amount__select .btn-plus:disabled,
.amount__select .btn-plus.disabled {
  color: #eee;
}
.amount__select .btn-minus.enabled,
.amount__select .btn-plus.enabled {
  border-color: #00d780;
  background-color: #00d780;
  color: #fff;
}
.amount__select .btn-minus {
  border-radius: 3px 0 0 3px;
}
.amount__select .btn-plus {
  border-radius: 0 3px 3px 0;
}
.amount__select .btn-plus::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 13px;
  background-color: currentColor;
  transform: translate(-50%, -50%);
}
.amount__select .amount {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 35px;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  font-weight: 700;
  color: #242424;
}
.amount__select .amount.disabled {
  font-weight: 400;
  color: #c9c9c9;
}

.popup__dimmed,
.modal__dimmed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}
.popup__dimmed.light,
.modal__dimmed.light {
  background-color: rgba(0, 0, 0, 0.4);
}

.popup__content {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 32px 0 40px;
  background: #fff;
  border-radius: 16px 16px 0 0;
  z-index: 10000;
}
.popup__content .popup__title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.popup__content .popup__list {
  text-align: center;
  margin-top: 32px;
  display: flex;
}
.popup__content .popup__list .popup__item {
  flex: 1;
}
.popup__content .popup__list .popup__item + .popup__item {
  border-left: 1px solid #e3e6e8;
}
.popup__content .popup__list .popup__item-icon {
  width: 80px;
  height: auto;
  fill: #03c75a;
}
.popup__content .popup__list .popup__item-desc {
  margin-top: 8px;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 600;
  color: #000;
}
.popup__content .popup__list .popup__btn {
  display: inline-block;
  margin-top: 10px;
  padding: 6px 18px;
  font-weight: 700;
  background-color: #424242;
  color: #fff;
  border-radius: 28px;
}

.order__info {
  padding: 10px 16px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  background-color: #e7f7ff;
}
.order__info .order__title {
  line-height: 39px;
}
.order__info .title {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.3px;
  color: #333;
}
.order__info .title .ico_n_logo {
  margin-right: 6px;
  width: 24px;
  height: 24px;
}
.order__info .ico-check {
  vertical-align: middle;
  display: none;
  opacity: 0;
}
.order__info .order__notice-list {
  display: flex;
  align-items: center;
  margin-top: 16px;
  padding: 12px 16px;
  background-color: #fff;
  font-size: 14px;
  border-radius: 2px;
  color: #333;
  letter-spacing: -0.3px;
}
.order__info .order__notice-list.alert {
  color: #ff3d3b;
  font-weight: 700;
}
.order__info .order__notice-list.alert .ico-clock {
  margin-right: 6px;
}

.order__tablist {
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.order__tablist .order__tab-switch {
  flex: 1;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.06);
  line-height: 40px;
  font-size: 14px;
  font-weight: 700;
  color: #666;
  letter-spacing: -0.3px;
}
.order__tablist .order__tab-switch.is-active {
  background-color: #fff;
  flex-grow: 1.2;
  border: 1px solid #333;
  font-size: 15px;
  color: #333;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
  position: relative;
}
.order__tablist .order__tab-switch.is-active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border: 1px solid #333;
  border-width: 0 1px 1px 0;
  transform: translate(-50%) rotate(45deg);
}
.order__tablist .order__tab-switch.is-active .ico-check {
  display: inline-block;
  opacity: 1;
}

.order__recent {
  display: flex;
  margin-top: 16px;
  padding: 18px 0;
  border-radius: 2px;
  background-color: #fff;
}
.order__recent .order__recent-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-right: 1px solid #f2f2f2;
  line-height: 1.42;
  font-size: 12px;
  font-weight: 700;
  color: #333;
}
.order__recent .order__recent-title .ico-clock {
  margin-bottom: 4px;
  width: 14px;
}
.order__recent .order__recent-menu .recent-menu-list {
  display: flex;
}
.order__recent .order__recent-menu .recent-menu-list .recent-menu-item {
  box-sizing: content-box;
  padding-left: 16px;
  width: 80px;
  text-align: center;
}
.order__recent .order__recent-menu .recent-menu-list .recent-menu-item.is-ordered {
  padding-right: 16px;
  border-right: 1px solid #9fa4aa;
}
.order__recent .order__recent-menu .recent-menu-list .recent-menu-item:last-child {
  padding-right: 16px;
}
.order__recent .order__recent-menu .recent-menu-list .recent-menu-item .recent-menu-img {
  position: relative;
  width: 80px;
  border: 1px solid #f9f9f9;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.01);
}
.order__recent .order__recent-menu .recent-menu-list .recent-menu-item .recent-menu-img .badge-popular {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 5px;
  border-radius: 10px;
  line-height: 16px;
  font-size: 11px;
  font-weight: 700;
  background-color: #ff61a7;
  color: #fff;
}
.order__recent .order__recent-menu .recent-menu-list .recent-menu-item .recent-menu-img .menu-img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.order__recent .order__recent-menu .recent-menu-list .recent-menu-item .recent-menu-img .badge-cart {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 99;
  padding: 6px;
  border: 1px solid #e5e5e5;
  border-radius: 100%;
  background-color: #fff;
  display: flex;
}
.order__recent .order__recent-menu .recent-menu-list .recent-menu-item .recent-menu-img .badge-cart .ico-cart {
  width: 16px;
  height: 16px;
}
.order__recent .order__recent-menu .recent-menu-list .recent-menu-item .menu-name {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.order__recent .order__recent-menu .recent-menu-list .recent-menu-item .menu-price {
  font-size: 13px;
  font-weight: 700;
  color: #ff3d3b;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menu__category {
  position: sticky;
  top: 94px;
  margin-top: 10px;
  background-color: #fff;
  z-index: 5000;
}
.menu__category .common-inner {
  border-bottom: 1px solid #f2f2f2;
}
.menu__category .common-inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  background: linear-gradient(to right, #fff 35%, rgba(255, 255, 255, 0));
}
.menu__category .common-inner::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  background: linear-gradient(to left, #fff 35%, rgba(255, 255, 255, 0));
}
.menu__category .common-inner .menu__category-list {
  display: flex;
  align-items: center;
  height: 54px;
  position: relative;
}
.menu__category .common-inner .menu__category-item:first-child {
  padding-left: 16px;
}
.menu__category .common-inner .menu__category-item:last-child {
  padding-right: 16px;
}
.menu__category .common-inner .menu__category-item .menu__category-tab {
  display: flex;
  align-items: center;
  padding: 0 12px;
  font-size: 16px;
  height: 30px;
  border-radius: 15px;
  color: #333;
}
.menu__category .common-inner .menu__category-item .menu__category-tab.is-active {
  background-color: #424242;
  font-style: 700px;
  color: #fff;
}

.menu__list {
  padding: 28px 16px 10px;
  background-color: #fff;
}
.menu__list:not(.new):not(.popular) {
  margin-top: 10px;
}
.menu__list.new {
  border-bottom: 1px solid #f2f2f2;
}
.menu__list.is-closed {
  padding: 24px 16px;
}
.menu__list.is-closed .ico-arrow {
  transform: rotate(180deg);
}
.menu__list.is-closed .menu__list-items {
  display: none;
}
.menu__list.is-closed + .is-closed {
  margin-top: 0;
  border-top: 1px solid #f2f2f2;
}
.menu__list .menu__list-category {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__list .menu__list-title {
  display: flex;
  align-items: center;
}
.menu__list .menu__list-title .period {
  font-size: 14px;
  letter-spacing: -0.3px;
  color: #666;
}
.menu__list .menu__list-title .period::before {
  content: "";
  display: inline-block;
  margin: 0 10px;
  background-color: #ededed;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  vertical-align: middle;
}
.menu__list .title {
  font-size: 19px;
  font-weight: 700;
  color: #333;
  letter-spacing: -0.3px;
}
.menu__list .btn-toggle {
  display: flex;
  margin: -16px;
  padding: 16px;
}

.order__box {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #e8e8e8;
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.03);
  background-color: #fff;
  z-index: 9100;
  height: 70px;
}
.order__box .common-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
}
.order__box .menu-name {
  font-size: 15px;
  color: #b8b8b8;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.order__box .menu-price {
  font-size: 18px;
  font-weight: 700;
  color: #ff3d3b;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.order__box .btn-order {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 128px;
  height: 46px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #01d760, #0ad18e);
  font-weight: 700;
  letter-spacing: -0.3px;
  color: #fff;
}
.order__box .btn-order .icon {
  position: relative;
  margin-left: 6px;
}
.order__box .btn-order .icon .ico-cart {
  width: 20px;
  height: 20px;
}
.order__box .btn-order .num {
  position: absolute;
  top: -5px;
  right: -4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ff3d3b;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.menu__detail-area {
  background-color: #fff;
}
.menu__detail-area .menu__img {
  position: relative;
  height: 300px;
  background-color: #f8fafb;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
}
.menu__detail-area .menu__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 130px;
  background: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
  z-index: 1;
  opacity: 0.2;
}
.menu__detail-area .menu__img::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 130px;
  background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
  z-index: 1;
  opacity: 0.15;
}
.menu__detail-area .menu__info {
  margin-top: -20px;
  padding: 0 16px 20px;
}
.menu__detail-area .menu__info .common-inner {
  position: relative;
  padding: 18px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.04);
  z-index: 1;
}
.menu__detail-area .menu__info .menu__info-group {
  margin-top: 5px;
}
.menu__detail-area .menu__info .menu__info-group .menu__price {
  line-height: 24px;
  font-size: 19px;
  font-weight: 700;
  color: #ff3d3b;
  vertical-align: middle;
}
.menu__detail-area .menu__info .menu__info-group .menu__grade::before,
.menu__detail-area .menu__info .menu__info-group .menu__number-of-order::before {
  content: "";
  display: inline-block;
  margin: 0 8px;
  width: 1px;
  height: 12px;
  background-color: #ededed;
  transform: translateY(1px);
}
.menu__detail-area .menu__info .menu__info-group .menu__grade,
.menu__detail-area .menu__info .menu__info-group .menu__number-of-order {
  line-height: 24px;
  vertical-align: middle;
}
.menu__detail-area .menu__info .menu__desc {
  margin-top: 12px;
  font-size: 15px;
  line-height: 22px;
  color: #333;
}
.menu__detail-area .menu__order-type {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #f2f2f2;
}
.menu__detail-area .menu__order-type .type__select,
.menu__detail-area .menu__order-type .type__amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__detail-area .menu__order-type .type__select .title {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.3px;
  color: #333;
}
.menu__detail-area .menu__order-type .type__select .ico_n_logo {
  margin-right: 4px;
  width: 20px;
}
.menu__detail-area .menu__order-type .type__select .order__tablist {
  margin-top: 0;
  width: 160px;
}
.menu__detail-area .menu__order-type .type__select .order__tab-switch {
  position: relative;
  line-height: 37px;
  border-radius: 3px;
  font-size: 13px;
}
.menu__detail-area .menu__order-type .type__select .order__tab-switch.is-active {
  flex: 1;
  border-radius: 3px;
}
.menu__detail-area .menu__order-type .type__select .order__tab-switch.is-active::after {
  display: none;
}
.menu__detail-area .menu__order-type .type__select .order__tab-switch.is-active + .order__tab-switch::before {
  content: "";
  position: absolute;
  display: block;
  top: 10px;
  right: 0 #000;
}
.menu__detail-area .type__amount {
  margin-top: 20px;
}
.menu__detail-area .type__amount .title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.3px;
  color: #333;
}
.menu__detail-area .btn-order {
  display: block;
  margin-top: 20px;
  padding: 0 16px;
  width: 100%;
  line-height: 46px;
  border: 3px;
  background-color: #03c75a;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__detail-area .btn-order:disabled {
  background-color: #c9c9c9;
  color: #fff;
}

.menu__review .title {
  line-height: 22px;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: -0.3px;
  color: #333;
}
.menu__review .title .num {
  margin-left: 6px;
  color: #00d780;
}
.menu__review .menu__orderer-img {
  padding-bottom: 22px;
  background-color: #fff;
}
.menu__review .menu__orderer-img .title {
  padding: 6px 16px 12px;
}
.menu__review .menu__orderer-img .orderer-img-list {
  display: flex;
}
.menu__review .menu__orderer-img .orderer-img-item {
  display: flex;
}
.menu__review .menu__orderer-img .orderer-img-item + .orderer-img-item {
  margin-left: 1px;
}
.menu__review .menu__orderer-img .orderer-img-item:first-child::before, .menu__review .menu__orderer-img .orderer-img-item:last-child::after {
  content: "";
  display: block;
  width: 16px;
  height: 100%;
}
.menu__review .menu__orderer-img .orderer-img-link {
  position: relative;
  display: block;
}
.menu__review .menu__orderer-img .orderer-img-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.05);
}
.menu__review .menu__orderer-review {
  margin-top: 12px;
  background-color: #fff;
}
.menu__review .menu__orderer-review .title {
  padding: 16px 16px;
}
.menu__review .menu__orderer-review .orderer-review-list {
  border-top: 1px solid #f2f4f6;
}
.menu__review .menu__orderer-review .orderer-review-item {
  padding: 16px 16px;
  border-bottom: 1px solid #f2f4f6;
}
.menu__review .menu__orderer-review .review-star {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #242424;
}
.menu__review .menu__orderer-review .ico-star-group {
  position: relative;
  margin-right: 6px;
  display: inline-block;
  width: 77px;
  height: 13px;
  background: url("/assets/images/ico-star-group.svg") no-repeat center left;
  transform: translateX(-2px);
}
.menu__review .menu__orderer-review .ico-star-group-fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: url("/assets/images/ico-star-group-fill.svg") no-repeat center left;
}
.menu__review .menu__orderer-review .review-text {
  margin-top: 4px;
  line-height: 24px;
  color: #333;
}
.menu__review .menu__orderer-review .review-info {
  margin-top: 8px;
  font-size: 14px;
  letter-spacing: -0.4px;
  color: #8f8f8f;
}
.menu__review .menu__orderer-review .review-date::before {
  content: "";
  display: inline-block;
  margin: 0 8px;
  width: 1px;
  height: 12px;
  background-color: #e1e5e7;
  vertical-align: middle;
}
.menu__review .menu__orderer-review .btn-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  color: #424242;
}
.menu__review .menu__orderer-review .btn-more::after {
  content: "";
  margin-left: 8px;
  margin-bottom: 6px;
  width: 8px;
  height: 8px;
  border-top: 1px solid;
  border-right: 1px solid;
  transform: rotate(135deg);
}

.popup__option-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  z-index: 100000;
}
.popup__option-area.show {
  height: 100%;
  opacity: 1;
}
.popup__option-area.show .popup__option-menu {
  transform: translateY(0);
}
.popup__option-area.show .popup__dimmed {
  opacity: 1;
}
.popup__option-area .popup__dimmed {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.popup__option-area .popup__option-menu {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 45px);
  width: 100%;
  background-color: #f4f7f9;
  z-index: 10000;
  transform: translateY(110%);
  transition: transform 0.3s ease;
}
.popup__option-area .content-top-pattern {
  position: absolute;
  top: -10px;
  width: 100%;
  height: 11px;
  fill: #fff;
  z-index: 2;
}
.popup__option-area .content-top {
  height: 100px;
  border-bottom: 1px solid #ededed;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.08);
  z-index: 1;
}
.popup__option-area .content-top .common-inner {
  position: relative;
  display: flex;
  padding: 18px 16px 20px;
}
.popup__option-area .content-top .menu__img-group {
  position: relative;
  margin-right: 16px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  overflow: hidden;
}
.popup__option-area .content-top .menu__img-group::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(43, 29, 0, 0.1);
}
.popup__option-area .content-top .menu__detail-group {
  flex: 1;
  padding-right: 36px;
}
.popup__option-area .content-top .menu__detail-group .menu__name {
  display: flex;
  align-items: center;
  font-weight: 700;
}
.popup__option-area .content-top .menu__detail-group .menu__name .name {
  font-size: 18px;
}
.popup__option-area .content-top .menu__detail-group .menu__name .badge {
  margin-left: 6px;
  padding: 0 7px;
  border-radius: 8px;
  background-color: #333;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: -0.3px;
  color: #fff;
}
.popup__option-area .content-top .menu__detail-group .amount__select {
  margin-top: 12px;
}
.popup__option-area .content-top .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 48px;
}
.popup__option-area .content-body {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.popup__option-area .content-body .option-group {
  background-color: #fff;
}
.popup__option-area .content-body .option-group + .option-group {
  margin-top: 12px;
}
.popup__option-area .content-body .option__title {
  padding: 18px 16px;
  border-bottom: 1px dashed #ecf0f2;
  font-weight: 800;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}
.popup__option-area .content-body .option__title .title {
  display: flex;
  align-items: center;
  font-size: 18px;
}
.popup__option-area .content-body .option__title .badge {
  margin-right: 8px;
  padding: 0 4px;
  border-radius: 3px;
  font-size: 13px;
  line-height: 17px;
  background-color: #d0d0d0;
  color: #fff;
}
.popup__option-area .content-body .option__title .badge.required {
  background: #000;
}
.popup__option-area .content-body .option__title .desc {
  margin-top: 2px;
  line-height: 24px;
  font-size: 15px;
  font-weight: 400;
}
.popup__option-area .content-body .option__list {
  padding: 24px 18px 24px 28px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}
.popup__option-area .content-body .option__list .option__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup__option-area .content-body .option__list .option__item:not(:first-child) {
  margin-top: 14px;
}
.popup__option-area .content-body .option__list .option__item .label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 17px;
}
.popup__option-area .content-body .option__list .option__item .label.checked {
  font-weight: 700;
}
.popup__option-area .content-body .option__list .option__item .label.checked .price {
  color: #ff3d3b;
}
.popup__option-area .content-body .option__list .option__item .label .label-txt {
  padding-right: 8px;
}
.popup__option-area .content-body .option__list .option__item .label .label-icon {
  display: inline-flex;
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
}
.popup__option-area .content-body .option__list .option__item .input-radio:checked + .label,
.popup__option-area .content-body .option__list .option__item .input-check:checked + .label {
  font-weight: 700;
}
.popup__option-area .content-body .option__list .input-radio + .label .label-icon {
  border-radius: 100%;
}
.popup__option-area .content-body .option__list .input-radio:checked + .label .label-icon {
  border: 8px solid #00d780;
}
.popup__option-area .content-body .option__list .input-check + .label .label-icon {
  border-radius: 3px;
}
.popup__option-area .content-body .option__list .input-check:checked + .label .price {
  font-weight: 600;
  color: #ff3d3b;
}
.popup__option-area .content-body .option__list .input-check:checked + .label .label-icon {
  border-color: #00d780;
  background-color: #00d780;
  position: relative;
}
.popup__option-area .content-body .option__list .input-check:checked + .label .label-icon::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 14px;
  height: 9px;
  border: 2px solid #fff;
  border-width: 0 0 2px 2px;
  transform: rotate(-45deg);
}
.popup__option-area .content-bottom {
  padding: 0 10px 10px;
}
.popup__option-area .content-bottom .btn-order {
  display: block;
  width: 100%;
  line-height: 52px;
  border-radius: 3px;
  font-weight: 700;
  background-color: #00d780;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}
.popup__option-area .content-bottom .btn-order:disabled {
  background-color: #c9c9c9;
  color: #fff;
}

.order__content-extra .orderer-info-area,
.order__content-extra .place-map-area,
.order__content-extra .agreement-area {
  padding: 0 16px 30px;
  background-color: #fff;
}
.order__content-extra .title {
  padding-top: 30px;
  font-size: 18px;
  font-weight: 700;
  color: #242424;
}
.order__content-extra .orderer-info-area .info-item {
  margin-top: 20px;
}
.order__content-extra .orderer-info-area .info-title {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #242424;
  font-weight: 700;
}
.order__content-extra .orderer-info-area .info-title::before {
  content: "";
  margin-right: 8px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #d5dadd;
}
.order__content-extra .orderer-info-area .option-group {
  display: flex;
  align-items: center;
  margin-top: 10px;
  height: 45px;
}
.order__content-extra .orderer-info-area .option-group .option-item {
  flex: 1;
}
.order__content-extra .orderer-info-area .option-group .input-radio {
  position: absolute;
}
.order__content-extra .orderer-info-area .option-group .input-radio:checked + .input-radio-button {
  background-color: #00d780;
  color: #fff;
  font-weight: 700;
  border-color: #00d780;
}
.order__content-extra .orderer-info-area .option-group .input-radio-button {
  display: block;
  line-height: 45px;
  border: 1px solid #e7e7e7;
  background-color: #f8fafb;
  font-size: 15px;
  text-align: center;
  color: #8f8f8f;
}
.order__content-extra .orderer-info-area .option-group .input-radio-button.need {
  border-radius: 5px 0 0 5px;
}
.order__content-extra .orderer-info-area .option-group .input-radio-button.no-need {
  border-radius: 0 5px 5px 0;
  border-left: 0;
}
.order__content-extra .orderer-info-area .input-text {
  display: block;
  margin-top: 10px;
  padding: 0 12px;
  width: 100%;
  height: 45px;
  border: 1px solid #d5dadd;
  background-color: #fff;
  font-size: 15px;
  color: #242424;
}
.order__content-extra .place-map-area {
  margin-top: 2px;
  padding-bottom: 0;
}
.order__content-extra .place-map-area .map-area {
  margin-top: 10px;
  border-radius: 5px;
  background-color: #fafbfc;
  overflow: hidden;
}
.order__content-extra .place-map-area .place-address-box {
  padding: 10px 14px;
  font-size: 14px;
}
.order__content-extra .place-map-area .place-name {
  font-size: 15px;
  font-weight: 600;
  color: #242424;
}
.order__content-extra .place-map-area .place-address {
  margin-top: 4px;
  color: #666;
}
.order__content-extra .place-map-area .place-address-detail {
  margin-top: 8px;
  color: #006f49;
}
.order__content-extra .place-map-area .img-map {
  display: block;
  width: 100%;
  border-top: 1px solid #e9eef0;
}
.order__content-extra .agreement-area .agreement-list {
  margin-top: 10px;
  border: 1px solid #d5dadd;
  border-radius: 5px;
  overflow: hidden;
}
.order__content-extra .agreement-area .agreement-item:not(:first-child) {
  border-top: 1px solid #ecf0f2;
}
.order__content-extra .agreement-area .agreement-item.is-open .agreement-content {
  display: block;
}
.order__content-extra .agreement-area .agreement-item.is-open .btn-toggle {
  transform: rotate(0deg);
}
.order__content-extra .agreement-area .agreement-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
  height: 44px;
  color: #242424;
}
.order__content-extra .agreement-area .agreement-title .txt {
  font-size: 15px;
}
.order__content-extra .agreement-area .agreement-title .btn-toggle {
  width: 44px;
  height: 100%;
  transform: rotate(180deg);
}
.order__content-extra .agreement-area .agreement-content {
  display: none;
  padding: 12px;
  max-height: 194px;
  border-top: 1px solid #ecf0f2;
  overflow-y: auto;
  font-size: 14px;
  color: #666;
  background-color: #f8fafb;
}
.order__content-extra .agreement-area .agreement-info-txt {
  margin-top: 14px;
  padding-left: 8px;
  border-left: 1px solid #d5dadd;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.45px;
  color: #666;
}

.order__content {
  margin: -40px 10px 0;
}
.order__content .common-inner {
  position: relative;
  background-color: #fff;
}
.order__content .common-inner::before, .order__content .common-inner::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  background: url("/assets/images/bg-pattern.png") repeat-x;
  background-size: auto 5px;
}
.order__content .common-inner::before {
  top: -5px;
}
.order__content .common-inner::after {
  bottom: -5px;
  transform: rotate(180deg);
}
.order__content .order__content-top {
  position: relative;
  padding: 26px 16px 24px;
}
.order__content .order__content-top::after {
  content: "";
  position: absolute;
  top: 26px;
  right: 16px;
  width: 83px;
  height: 83px;
  border-radius: 100%;
  background: url("https://via.placeholder.com/83") no-repeat;
}
.order__content .order__content-top .title {
  line-height: 1.2;
  font-size: 20px;
  font-weight: 700;
  color: #00d780;
}
.order__content .order__content-top .desc {
  margin-top: 8px;
  line-height: 1.2;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.order__content .order__content-top .count {
  margin-top: 8px;
  line-height: 20px;
  font-size: 14px;
  color: #666;
  letter-spacing: -0.3px;
}
.order__content .order__content-body {
  border-top: 1px dashed #e5e5e5;
}
.order__content .order__content-body .no-order {
  padding: 70px 0;
  text-align: center;
}
.order__content .order__content-body .no-order .txt {
  margin-top: 6px;
  font-size: 14px;
  color: #8f8f8f;
}
.order__content .order__content-body .menu__list {
  padding: 0 16px;
}
.order__content .order__content-body .menu__list-item {
  position: relative;
  align-items: flex-start;
  padding: 22px 16px;
}
.order__content .order__content-body .menu__list-item .menu__detail-info {
  flex: 1;
}
.order__content .order__content-body .menu__list-item .menu__name-group {
  padding-right: 40px;
}
.order__content .order__content-body .menu__list-item .menu__name-group .menu__name {
  line-height: 23px;
  font-size: 18px;
}
.order__content .order__content-body .menu__list-item .menu__desc {
  margin-top: 2px;
}
.order__content .order__content-body .menu__list-item .btn-option {
  display: inline-block;
  margin-top: 8px;
  padding: 0 6px;
  line-height: 20px;
  border-radius: 3px;
  font-size: 12px;
  border: 1px solid #e3e3e3;
  background-color: #fff;
  color: #666;
}
.order__content .order__content-body .menu__list-item .amount-and-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}
.order__content .order__content-body .menu__list-item .amount-and-price .menu__price {
  margin-top: 0;
  font-size: 18px;
}
.order__content .order__content-body .menu__list-item .btn-delete {
  position: absolute;
  top: 0;
  right: 0;
  padding: 22px 18px;
}
.order__content .order__content-body .menu__list-item .btn-delete .ico-delete {
  width: 14px;
  opacity: 0.3;
}
.order__content .order__content-body .order-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px;
  padding: 24px 0;
  border-top: 2px solid #d5dadd;
  font-size: 20px;
  font-weight: 700;
}
.order__content .order__content-body .order-total .total-price {
  font-size: 19px;
  color: #ff3d3b;
}
.order__content .btn-menu-add {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 22px auto 30px;
  width: 150px;
  line-height: 48px;
  border-radius: 24px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  color: #242424;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.04);
}
.order__content .btn-menu-add .ico-add {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  width: 13px;
  height: 13px;
}
.order__content .btn-menu-add .ico-add::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 1px;
  background-color: #00d780;
}
.order__content .btn-menu-add .ico-add::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 13px;
  background-color: #00d780;
}

.order__form .order__form-title {
  height: 105px;
  background: linear-gradient(264deg, #3accff, #2cec88);
}
.order__form .order__form-title .title {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background: linear-gradient(264deg, #3accff, #2cec88);
  z-index: 1;
}
.order__form .order__form-title .btn-close {
  position: fixed;
  top: 0;
  right: 0;
  width: 56px;
  height: 56px;
  z-index: 1;
}
.order__form .order__form-title .btn-close .ico-close {
  width: 20px;
}
.order__form .order__button {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}
.order__form .order__button .btn-order {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 16px 0;
  width: calc(100% - 16px* 2);
  height: 50px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #00d780;
}
.order__form .order__button .btn-order .ico-n-logo {
  margin-right: 6px;
  width: 18px;
  height: 18px;
}
.order__form .go__top {
  padding: 26px 0;
  background: none;
}

.modal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
}
.modal__wrapper .modal__container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: calc(100% - 32px);
  max-width: 324px;
  border-radius: 12px;
  background-color: #fff;
  text-align: center;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 10001;
}
.modal__wrapper .modal__content {
  position: relative;
  padding: 24px 30px;
  color: #333;
}
.modal__wrapper .modal__content .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  padding: 16px;
}
.modal__wrapper .modal__content .modal__icon {
  opacity: 0.7;
}
.modal__wrapper .modal__content .modal__title {
  margin-top: 8px;
  font-size: 20px;
  font-weight: 700;
}
.modal__wrapper .modal__content .modal__desc {
  margin-top: 8px;
  color: #000;
  letter-spacing: -0.3px;
}
.modal__wrapper .btn-area {
  display: flex;
}
.modal__wrapper .btn-area button {
  flex: 1;
  padding: 16px 0;
  font-size: 18px;
}
.modal__wrapper .btn-area .btn-cancel {
  background-color: #edf1f4;
  color: #333;
}
.modal__wrapper .btn-area .btn-confirm {
  background: linear-gradient(to left, #3accff, #2cec88);
  font-weight: 800;
  color: #fff;
}